<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    <%- include('partials/navbar-logo.ejs') %>

    <div class="jumbotron">
            <h1>Register</h1>
            <% if (err) { %>
            <div class="alert alert-danger" role="alert">
                <%= (err) %>
            </div>
            <% } %>
            <p style="color: gray;">Please fill in this form to create an account.</p>
            <hr>
        <form method="POST" action="/register">
            <div class="form-group">
                <label for="username">Username</label>
                <input autofocus type="text" placeholder="Enter username" class="form-control" name="username" required id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" placeholder="Enter password" name="password" required class="form-control" id="exampleInputPassword1">
            </div>
            <div>
                <p>Already have an account? <a href="/login">Sign in</a>.</p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <a href="/"><button type="submit" class="btn btn-primary">Back</button></a>
        
    </div>

<%- include('partials/footer.ejs') %>